body
{
    background-color: rgb(251, 251, 251);
}
#Home
{
    background-color: rgb(70, 101, 103);
    font-family: Arial;
}
#Home .navbar-nav
{
    margin-left: auto;
}
.fotoprofile
{
    background-color: rgb(124, 142, 143);
    padding: 50px;
}
.fotoprofile h6
{
    margin-top: 12px;
    color:  rgb(251, 251, 251);
}
#About
{
    padding-top: 25px;
    padding-bottom: 80px;
}
#About .row
{
    justify-content: space-evenly;
}
#About h2
{
    margin-bottom: 50px;
}
#Project
{
    background-color: rgb(124, 142, 143);
    padding-top: 25px;
    padding-bottom: 80px;
}
#Project h2
{
    margin-bottom: 60px;
}
#Contact
{
    padding-top: 25px;
    padding-bottom: 80px;
}
#Contact .row
{
    justify-content: center;
}
#Contact h2
{
    margin-bottom: 50px;
}
#Contact button
{
    background-color:  rgb(124, 142, 143);
}
#Footer 
{
    background-color: rgb(70, 101, 103);
    font-family: Arial;
    padding: 25px;
    color: rgb(234, 233, 233);
}
#Footer .row
{
    justify-content:space-between;
}
#Footer a
{
    text-decoration: none;   
    color: rgb(234, 233, 233);
}
